@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #806bdc;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin: 30px 0;
}

.container .title::before {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #806bdc;
  position: absolute;
  left: 0;
  bottom: 0;
}

form .input-box {
  width: 100%;
  margin-bottom: 12px;
}

form .input-box input {
  width: 100%;
  height: 48px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #806bdc;
  padding-left: 12px;
  font-size: 16px;
}

form .gender {
  margin-bottom: 24px;
}

form .gender .gender-title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

form .gender .check-box {
  display: inline;
  margin-left: 12px;
}

form .gender .check-box input {
  margin-right: 5px;
}

form .btn {
  background-color: #806bdc;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

form p {
  margin-top: 20px;
  text-align: center;
}
